* {
  margin: 0;
  padding: 0;
}

main,
article,
header,
footer,
section,
nav,
aside {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0px auto;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#layer1 header {
  width: 100%;
  background-color: #517a8c;
  padding-top: 28px;
  height: 338px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#layer1 header nav {
  width: 100%;
  display: flex;
  justify-content: right;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

li:hover {
  opacity: 0.4;
  background-color: grey;
}

#layer1 a {
  height: 57px;
  width: 242px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#layer1 ul:first-child {
  margin-right: 1px;
}

ul:first-child {
  background-color: pink;
}

#logo {
  background-image: url("../layouts/image.png");
  width: 91px;
  height: 50px;
  margin-left: 26px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.selected {
  background: brown;
}

#layer1 article {
  background-color: black;
  position: relative;
  display: flex;
  padding: 24px 30px 71px 28px;
  width: 1000px;
  margin: 0 auto;
}

#layer1 article section:first-child {
  background-color: #517a8c;
  width: 93px;
  height: 33px;
}

#layer1 article section:nth-child(2) {
  background-color: #517a8c;
  width: 335px;
  height: 389px;
  left: 151px;
  top: 7px;
  position: relative;
}

#layer1 article section:nth-child(3) {
  background-color: #517a8c;
  width: 338px;
  height: 338px;
  right: 30px;
  position: absolute;
  top: 31px;
}

footer {
  width: 100%;
  background-color: #d6d6d6;
  height: 121px;
}

#layer2 main {
  width: 1400px;
  margin: auto;
}

#layer2 header {
  width: 100%;
  height: 192px;
  background-color: black;
  padding-top: 28px;
}

#layer2 main {
  display: flex;
}

#layer2 nav {
  float: left;
  background-color: pink;
}

#layer2 ul {
  justify-content: left;
  flex-direction: column;
  width: 243px;
}

#layer2 a {
  height: 135px;
  align-items: center;
  display: flex;
  text-align: left;
  padding-left: 6px;
}

#layer2 article {
  min-height: 1687px;
  width: 736px;
  background-color: black;
  flex-direction: column;
  float: left;
  padding: 0 82px 0 0;
  position: relative;
}

#layer2 article > * {
  display: flex;
  position: relative;
  width: 338px;
  height: 338px;
  float: left;
  margin-left: 30px;
  background-color: #517a8c;
}

#layer2 article section:nth-child(3) {
  top: 120px;
}

#layer2 article section:nth-child(4) {
  top: 337px;
}

#layer2 article section:nth-child(5) {
  top: 169px;
}
#layer2 footer {
  width: 1400px;
  margin: auto;
}

#layer2 aside {
  width: 339px;
  background-color: pink;
  float: right;
  flex-direction: column;
}

#layer2 aside > * {
  background-color: #c0d0e7;
}

#layer2 aside section:first-child {
  width: 128px;
  height: 338px;
  left: 170px;
  top: 66px;
  position: relative;
}

#layer2 aside section:nth-child(2) {
  width: 128px;
  height: 125px;
  top: 1124px;
  left: 106px;
  position: relative;
}

@media (max-width:800px) {
  #layer3 {
    width: 500px;
  }
  body {
    width: 500px;
  }
  #layer3 header {
    width: 100%;
  }
  #layer3 #logo {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  #layer3 section {
    width: 100%;
  }
  #layer3 aside article {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  main article:first-of-type {
    display: none;
  }
}

#layer3 header div {
  font-size: 140px;
  position: absolute;
  color: white;
  margin-left: 207px;
  margin-top: 127px;
  cursor: pointer;
}

@media (min-width: 801px) {
  #layer3 article {
    width: 50%;
    display: flex;
    background-color: white;
  }
  #layer3 {
    width: 1000px;
  }

  #layer3 header {
    width: 50%;
  }

  #layer3 #logo {
    margin-top: 38px;
    margin-left: 36px;
  }

  #layer3 aside {
    width: 100%;
    background-color: #517a8c;
  }
}

#layer3 {
  flex-wrap: wrap;
  margin: 0px auto;
}

#layer3 main {
  display: flex;
  flex-wrap: wrap;
}

#layer3 header {
  height: 500px;
  background-color: black;
  position: relative;
}

#layer3 ul {
  background-color: pink;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 62px;
}

#layer3 ul > * {
  width: 33.34%;
  text-align: center;
}

#layer3 li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#layer3 article {
  flex-wrap: wrap;
  background-color: black;
}

#layer3 article > * {
  width: 250px;
  height: 250px;
  background-color: white;
  text-align: center;
  justify-content: center;
  display: flex;
}

#layer3 article section:first-child {
  opacity: 25%;
}
#layer3 article section:nth-child(2) {
  opacity: 50%;
}
#layer3 article section:nth-child(3) {
  opacity: 75%;
}
#layer3 article section:nth-child(4) {
  opacity: 100%;
}

#layer3 aside {
  display: flex;
  flex-wrap: wrap;
}

#layer3 article section:hover {
  cursor: pointer;
  background-color: aqua;
}
#layer3 img {
  justify-content: center;
  width: 200px;
  height: 200px;
  align-self: center;
  margin: auto;
}